---

---

<div>
    <a href="../" class="icon">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39 19.5C39 30.2696 30.2696 39 19.5 39C8.73045 39 0 30.2696 0 19.5C0 8.73045 8.73045 0 19.5 0C30.2696 0 39 8.73045 39 19.5Z" fill="white"/>
            <path d="M11.283 18.94C11.0021 19.2212 10.8443 19.6025 10.8443 20C10.8443 20.3975 11.0021 20.7788 11.283 21.06L16.939 26.719C17.2204 27.0004 17.602 27.1585 18 27.1585C18.398 27.1585 18.7796 27.0004 19.061 26.719C19.3424 26.4376 19.5005 26.056 19.5005 25.658C19.5005 25.26 19.3424 24.8784 19.061 24.597L15.965 21.5H27.5C27.8978 21.5 28.2794 21.342 28.5607 21.0607C28.842 20.7794 29 20.3978 29 20C29 19.6022 28.842 19.2206 28.5607 18.9393C28.2794 18.658 27.8978 18.5 27.5 18.5H15.965L19.061 15.404C19.2003 15.2647 19.3109 15.0993 19.3863 14.9172C19.4617 14.7352 19.5005 14.54 19.5005 14.343C19.5005 14.146 19.4617 13.9508 19.3863 13.7688C19.3109 13.5867 19.2003 13.4213 19.061 13.282C18.9217 13.1427 18.7563 13.0321 18.5742 12.9567C18.3922 12.8813 18.197 12.8425 18 12.8425C17.803 12.8425 17.6078 12.8813 17.4258 12.9567C17.2437 13.0321 17.0783 13.1427 16.939 13.282L11.283 18.94Z" fill="#1C212D"/>
            </svg>

    </a>
</div>