<header class="">
    <a href="../" class="text-center text-white text-5xl font-bold  uppercase mp-12  pb-24 block ">
    <h1><span class="bg-app-orange rounded-md p-4">bbc</span> app</h1>
</a>
</header>